# Limpieza de bienes raíces

Este es un conjunto de datos (dataset) reales que fue descargado usando técnicas de web scraping. La data contiene registros de **Fotocasa**, el cual es uno de los sitios más populares de bienes raíces en España. Por favor no hagas esto (web scraping) a no ser que sea para propósitos académicos.

El dataset fue descargado hace algunos años por Henry Navarro y en ningún caso se obtuvo beneficio económico de ello.

Contiene miles de datos de casas reales publicadas en la web www.fotocasa.com. Tu objetivo es extraer tanta información como sea posible con el conocimiento que tienes hasta ahora de ciencia de datos, por ejemplo ¿cuál es la casa más cara en todo el dataset?

Empecemos precisamente con esa pregunta... ¡Buena suerte!

#### Ejercicio 00. Lee el dataset assets/real_estate.csv e intenta visualizar la tabla (★☆☆)

In [1]:
import pandas as pd

# Este archivo CSV contiene puntos y comas en lugar de comas como separadores
ds = pd.read_csv('assets/real_estate.csv', sep=';')
ds
pd.set_option('display.max_columns', None)
ds

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,date,description,address,country,level1,level2,level3,level4,level5,level6,level7,level8,upperLevel,countryId,level1Id,level2Id,level3Id,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,2019-12-28T18:27:15.9975027Z,Ponemos a la venta piso de 3 dormitorios con t...,"Calle Presidente Felipe Gonzalez, Arganda del Rey",España,Madrid,Madrid,Madrid Sureste - Cuenca Tajuña,"Arganda del Rey, Zona de",Arganda del Rey,NaN,Perlita,NaN,Perlita,0,0,0,0,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,2019-12-28T18:27:15.9975027Z,"""""Agencia inmobiliaria de FUENLABRADA - zona F...","Calle Polvoranca, 6, Fuenlabrada",España,Madrid,Madrid,Zona Sur de Madrid,"Fuenlabrada, Zona de",Fuenlabrada,NaN,Centro,NaN,Centro,0,0,0,0,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,2019-12-28T18:27:15.9975027Z,"Lookandfind Boadilla, vende en exclusiva, piso...","Calle Reyes Católicos, Boadilla del Monte",España,Madrid,Madrid,Zona Noroeste,"Boadilla del Monte, Zona de",Boadilla del Monte,NaN,Sector B,NaN,Sector B,0,0,0,0,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,2019-12-28T18:27:15.9975027Z,Agencia inmobiliaria de FUENLABRADA - zona Fue...,"Barrio San Andres, Fuenlabrada",España,Madrid,Madrid,Zona Sur de Madrid,"Fuenlabrada, Zona de",Fuenlabrada,NaN,Centro,NaN,Centro,0,0,0,0,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,2019-12-28T18:27:15.9975027Z,PISOS DE OBRA NUEVA DE 2 Y 3 DORMITORIOS. OBRA...,Arganda del Rey,España,Madrid,Madrid,Madrid Sureste - Cuenca Tajuña,"Arganda del Rey, Zona de",Arganda del Rey,NaN,Centro,NaN,Centro,0,0,0,0,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,2019-12-17T18:19:00Z,¡¡¡IDEAL PROFESIONALES E INVERSORES¡¡¡ \nINFOC...,Madrid Capital,España,Madrid,Madrid,"Madrid, Zona de",NaN,Madrid Capital,NaN,Tetuán,Berruguete,Berruguete,0,0,0,0,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,2019-12-17T18:19:00Z,"Planta baja con cocinas, una de ellos posibili...",Velilla de San Antonio,España,Madrid,Madrid,Madrid Sureste - Cuenca Tajuña,"Velilla de San Antonio, Zona de",Velilla de San Antonio,NaN,NaN,NaN,Velilla de San Antonio,0,0,0,0,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,2019-12-17T18:19:00Z,NaN,Torrelodones,España,Madrid,Madrid,Zona Noroeste,"Torrelodones, Zona de",Torrelodones,NaN,Casco Antiguo,NaN,Casco Antiguo,0,0,0,0,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,2019-12-17T18:18:00Z,"Piso de 3 dormitorios con armarios empotrados,...",Velilla de San Antonio,España,Madrid,Madrid,Madrid Sureste - Cuenca Tajuña,"Velilla de San Antonio, Zona de",Velilla de San Antonio,NaN,NaN,NaN,Velilla de San Antonio,0,0,0,0,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,2019-12-17T18:17:00Z,INFOCASA vende este bonito piso reformado con ...,"Paseo de la Castellana, Madrid Capital",España,Madrid,Madrid,"Madrid, Zona de",NaN,Madrid Capital,NaN,Tetuán,Castillejos - Cuzco,Castillejos - Cuzco,0,0,0,0,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

#### Ejercicio 01. ¿Cuál es la casa más cara en todo el dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada. Por ejemplo:

`La casa con dirección en Calle del Prado, Nº20 es la más cara y su precio es de 5000000 USD`

In [46]:

house = ds.loc[ds['price'].idxmax()]

direccion = house["address"]
precio = house["price"]
print(f"La casa con direccion en {direccion} es la mas cara y su precio es de {precio}USD")

La casa con direccion en El Escorial es la mas cara y su precio es de 8500000USD

#### Ejercicio 02. ¿Cuál es la casa más barata del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada. Por ejemplo:

`La casa con dirección en Calle Alcalá, Nº58 es la más barata y su precio es de 12000 USD`

In [54]:
filtro = ds[ds["price"]>0]
house = filtro.loc[filtro['price'].idxmin()]


direccion = house["address"]
precio = house["price"]
print(f"La casa con direccion en {direccion} es la mas barata y su precio es de {precio}USD")

La casa con direccion en Berlin, Coslada es la mas barata y su precio es de 600USD

In [51]:
filtro = ds[ds["price"]>0]
print(filtro)

       Unnamed: 0  id_realEstates  isNew                    realEstate_name  \
0               1       153771986  False            ferrari 57 inmobiliaria
1               2       153867863  False  tecnocasa fuenlabrada ferrocarril
2               3       153430440  False                 look find boadilla
3               4       152776331  False  tecnocasa fuenlabrada ferrocarril
4               5       153180188  False            ferrari 57 inmobiliaria
...           ...             ...    ...                                ...
15330       15331       153901377  False                infocasa consulting
15331       15332       150394373  False                inmobiliaria pulpon
15332       15333       153901397  False             tecnocasa torrelodones
15333       15334       152607440  False                inmobiliaria pulpon
15334       15335       153901356  False                infocasa consulting

       phone_realEstate                                       url_inmueble  \
0           912177526.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
1           916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
2           916350408.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
3           916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
4           912177526.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
...                 ...                                                ...
15330       911360461.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15331       912788039.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15332       912780348.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15333       912788039.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15334       911360461.0  https://www.fotocasa.es/es/comprar/vivienda/ma...

       rooms  bathrooms  surface   price                          date  \
0        3.0        2.0    103.0  195000  2019-12-28T18:27:15.9975027Z
1        3.0        1.0      NaN   89000  2019-12-28T18:27:15.9975027Z
2        2.0        2.0     99.0  390000  2019-12-28T18:27:15.9975027Z
3        3.0        1.0     86.0   89000  2019-12-28T18:27:15.9975027Z
4        2.0        2.0    106.0  172000  2019-12-28T18:27:15.9975027Z
...      ...        ...      ...     ...                           ...
15330    2.0        1.0     96.0  259470          2019-12-17T18:19:00Z
15331    3.0        1.0    150.0  165000          2019-12-17T18:19:00Z
15332    4.0        2.0    175.0  495000          2019-12-17T18:19:00Z
15333    3.0        2.0    101.0  195000          2019-12-17T18:18:00Z
15334    3.0        2.0    152.0  765000          2019-12-17T18:17:00Z

                                             description  \
0      Ponemos a la venta piso de 3 dormitorios con t...
1      ""Agencia inmobiliaria de FUENLABRADA - zona F...
2      Lookandfind Boadilla, vende en exclusiva, piso...
3      Agencia inmobiliaria de FUENLABRADA - zona Fue...
4      PISOS DE OBRA NUEVA DE 2 Y 3 DORMITORIOS. OBRA...
...                                                  ...
15330  ¡¡¡IDEAL PROFESIONALES E INVERSORES¡¡¡ \nINFOC...
15331  Planta baja con cocinas, una de ellos posibili...
15332                                                NaN
15333  Piso de 3 dormitorios con armarios empotrados,...
15334  INFOCASA vende este bonito piso reformado con ...

                                                 address country  level1  \
0      Calle Presidente Felipe Gonzalez, Arganda del Rey  España  Madrid
1                       Calle Polvoranca, 6, Fuenlabrada  España  Madrid
2              Calle Reyes Católicos, Boadilla del Monte  España  Madrid
3                         Barrio San Andres, Fuenlabrada  España  Madrid
4                                        Arganda del Rey  España  Madrid
...                                                  ...     ...     ...
15330                                     Madrid Capital  España  Madrid
15331                             Velilla de San Antonio  España  Madrid
15332                                       Torrelodones  España  Madrid
15333                             Velilla de San Antonio  España  Madrid
15334            Paseo de la Castellana,  Madrid Capital  España  Madrid

       level2                          level3  \
0      Madrid  Madrid Sureste - Cuenca Tajuña
1      Madrid              Zona Sur de Madrid
2      Madrid                   Zona Noroeste
3      Madrid              Zona Sur de Madrid
4      Madrid  Madrid Sureste - Cuenca Tajuña
...       ...                             ...
15330  Madrid                 Madrid, Zona de
15331  Madrid  Madrid Sureste - Cuenca Tajuña
15332  Madrid                   Zona Noroeste
15333  Madrid  Madrid Sureste - Cuenca Tajuña
15334  Madrid                 Madrid, Zona de

                                level4                  level5 level6  \
0             Arganda del Rey, Zona de         Arganda del Rey    NaN
1                 Fuenlabrada, Zona de             Fuenlabrada    NaN
2          Boadilla del Monte, Zona de      Boadilla del Monte    NaN
3                 Fuenlabrada, Zona de             Fuenlabrada    NaN
4             Arganda del Rey, Zona de         Arganda del Rey    NaN
...                                ...                     ...    ...
15330                              NaN          Madrid Capital    NaN
15331  Velilla de San Antonio, Zona de  Velilla de San Antonio    NaN
15332            Torrelodones, Zona de            Torrelodones    NaN
15333  Velilla de San Antonio, Zona de  Velilla de San Antonio    NaN
15334                              NaN          Madrid Capital    NaN

              level7               level8              upperLevel  countryId  \
0            Perlita                  NaN                 Perlita          0
1             Centro                  NaN                  Centro          0
2           Sector B                  NaN                Sector B          0
3             Centro                  NaN                  Centro          0
4             Centro                  NaN                  Centro          0
...              ...                  ...                     ...        ...
15330         Tetuán           Berruguete              Berruguete          0
15331            NaN                  NaN  Velilla de San Antonio          0
15332  Casco Antiguo                  NaN           Casco Antiguo          0
15333            NaN                  NaN  Velilla de San Antonio          0
15334         Tetuán  Castillejos - Cuzco     Castillejos - Cuzco          0

       level1Id  level2Id  level3Id  level4Id  level5Id  level6Id  level7Id  \
0             0         0         0         0         0         0         0
1             0         0         0         0         0         0         0
2             0         0         0         0         0         0         0
3             0         0         0         0         0         0         0
4             0         0         0         0         0         0         0
...         ...       ...       ...       ...       ...       ...       ...
15330         0         0         0         0         0         0         0
15331         0         0         0         0         0         0         0
15332         0         0         0         0         0         0         0
15333         0         0         0         0         0         0         0
15334         0         0         0         0         0         0         0

       level8Id  accuracy          latitude          longitude  zipCode  \
0             0         0  40,2948276786438  -3,44402412135624      NaN
1             0         1          40,28674           -3,79351      NaN
2             0         0  40,4115646786438  -3,90662252135624      NaN
3             0         0  40,2853785786438  -3,79508142135624      NaN
4             0         0  40,2998774864376  -3,45226301356237      NaN
...         ...       ...               ...                ...      ...
15330         0         0          40,45416           -3,70286      NaN
15331         0         0          40,36652           -3,48951      NaN
15332         0         0          40,57444           -3,92124      NaN
15333         0         0          40,36967           -3,48105      NaN
15334         0         0          40,45773           -3,69068      NaN

       customZone
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
15330         NaN
15331         NaN
15332         NaN
15333         NaN
15334         NaN

[15275 rows x 37 columns]

#### Ejercicio 03. ¿Cuál es la casa más grande y la más pequeña del dataset? (★☆☆)

Imprime la dirección y el área de las casas seleccionadas. Por ejemplo:

`La casa más grande está ubicada en Calle Gran Vía, Nº38 y su superficie es de 5000 metros`

`La casa más pequeña está ubicada en Calle Mayor, Nº12 y su superficie es de 200 metros`

In [6]:
casa_mas_pequena = ds.loc[ds['surface'].idxmin()]
direccion = casa_mas_pequena["address"]
superficie = casa_mas_pequena["surface"]
print(f"La casa mas pequeña esta ubicada en {direccion} y su superficie es {superficie}MT")

casa_mas_grande = ds.loc[ds['surface'].idxmax()]
direccion = casa_mas_grande["address"]
superficie = casa_mas_grande["surface"]
print(f"La casa mas pequeña esta ubicada en {direccion} y su superficie es {superficie}MT")

La casa mas pequeña esta ubicada en Calle Amparo,  Madrid Capital y su superficie es 15.0MT
La casa mas pequeña esta ubicada en Sevilla la Nueva y su superficie es 249000.0MT

#### Ejercicio 04. ¿Cuantas poblaciones (columna level5) contiene el dataset? (★☆☆)

Imprime el nombre de las poblaciones separadas por coma. Por ejemplo:

`> print(populations)`

`population1, population2, population3, ...`

In [31]:
ds.groupby[ds.country.count]

TypeError: 'method' object is not subscriptable

#### Ejercicio 05. ¿El dataset contiene valores no admitidos (NAs)? (★☆☆)

Imprima un booleano (`True` o `False`) seguido de la fila/columna que contiene el NAs.

In [27]:
ds.isnull().any()

Unnamed: 0          False
id_realEstates      False
isNew               False
realEstate_name      True
phone_realEstate     True
url_inmueble        False
rooms                True
bathrooms            True
surface              True
price               False
date                False
description          True
address             False
country             False
level1              False
level2              False
level3              False
level4               True
level5              False
level6               True
level7               True
level8               True
upperLevel          False
countryId           False
level1Id            False
level2Id            False
level3Id            False
level4Id            False
level5Id            False
level6Id            False
level7Id            False
level8Id            False
accuracy            False
latitude            False
longitude           False
zipCode              True
customZone           True
dtype: bool

#### Ejercicio 06. Elimina los NAs del dataset, si aplica (★★☆)

Imprima una comparación entre las dimensiones del DataFrame original versus el DataFrame después de las eliminaciones.

In [28]:
ds.dropna(axis=0)
ds

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,date,description,address,country,level1,level2,level3,level4,level5,level6,level7,level8,upperLevel,countryId,level1Id,level2Id,level3Id,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,2019-12-28T18:27:15.9975027Z,Ponemos a la venta piso de 3 dormitorios con t...,"Calle Presidente Felipe Gonzalez, Arganda del Rey",España,Madrid,Madrid,Madrid Sureste - Cuenca Tajuña,"Arganda del Rey, Zona de",Arganda del Rey,NaN,Perlita,NaN,Perlita,0,0,0,0,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,2019-12-28T18:27:15.9975027Z,"""""Agencia inmobiliaria de FUENLABRADA - zona F...","Calle Polvoranca, 6, Fuenlabrada",España,Madrid,Madrid,Zona Sur de Madrid,"Fuenlabrada, Zona de",Fuenlabrada,NaN,Centro,NaN,Centro,0,0,0,0,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,2019-12-28T18:27:15.9975027Z,"Lookandfind Boadilla, vende en exclusiva, piso...","Calle Reyes Católicos, Boadilla del Monte",España,Madrid,Madrid,Zona Noroeste,"Boadilla del Monte, Zona de",Boadilla del Monte,NaN,Sector B,NaN,Sector B,0,0,0,0,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,2019-12-28T18:27:15.9975027Z,Agencia inmobiliaria de FUENLABRADA - zona Fue...,"Barrio San Andres, Fuenlabrada",España,Madrid,Madrid,Zona Sur de Madrid,"Fuenlabrada, Zona de",Fuenlabrada,NaN,Centro,NaN,Centro,0,0,0,0,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,2019-12-28T18:27:15.9975027Z,PISOS DE OBRA NUEVA DE 2 Y 3 DORMITORIOS. OBRA...,Arganda del Rey,España,Madrid,Madrid,Madrid Sureste - Cuenca Tajuña,"Arganda del Rey, Zona de",Arganda del Rey,NaN,Centro,NaN,Centro,0,0,0,0,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,2019-12-17T18:19:00Z,¡¡¡IDEAL PROFESIONALES E INVERSORES¡¡¡ \nINFOC...,Madrid Capital,España,Madrid,Madrid,"Madrid, Zona de",NaN,Madrid Capital,NaN,Tetuán,Berruguete,Berruguete,0,0,0,0,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,2019-12-17T18:19:00Z,"Planta baja con cocinas, una de ellos posibili...",Velilla de San Antonio,España,Madrid,Madrid,Madrid Sureste - Cuenca Tajuña,"Velilla de San Antonio, Zona de",Velilla de San Antonio,NaN,NaN,NaN,Velilla de San Antonio,0,0,0,0,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,2019-12-17T18:19:00Z,NaN,Torrelodones,España,Madrid,Madrid,Zona Noroeste,"Torrelodones, Zona de",Torrelodones,NaN,Casco Antiguo,NaN,Casco Antiguo,0,0,0,0,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,2019-12-17T18:18:00Z,"Piso de 3 dormitorios con armarios empotrados,...",Velilla de San Antonio,España,Madrid,Madrid,Madrid Sureste - Cuenca Tajuña,"Velilla de San Antonio, Zona de",Velilla de San Antonio,NaN,NaN,NaN,Velilla de San Antonio,0,0,0,0,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,2019-12-17T18:17:00Z,INFOCASA vende este bonito piso reformado con ...,"Paseo de la Castellana, Madrid Capital",España,Madrid,Madrid,"Madrid, Zona de",NaN,Madrid Capital,NaN,Tetuán,Castillejos - Cuzco,Castillejos - Cuzco,0,0,0,0,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

#### Ejercicio 07. ¿Cuál la media de precios en la población (columna level5) de "Arroyomolinos (Madrid)"? (★★☆)

Imprima el valor obtenido.

In [33]:

media=ds.price.mean
media

<bound method Series.mean of 0        195000
1         89000
2        390000
3         89000
4        172000
          ...
15330    259470
15331    165000
15332    495000
15333    195000
15334    765000
Name: price, Length: 15335, dtype: int64>

#### Ejercicio 08. Trazar el histograma de los precios para la población (level5 column) de "Arroyomolinos (Madrid)" y explica qué observas (★★☆)

Imprime el histograma de los precios y escribe en la celda del Markdown un breve análisis del trazado.

In [9]:
# TODO: Code

**TODO: Markdown**. Para escribir aquí, haz doble clic en esta celda, elimina este contenido y coloca lo que quieras escribir. Luego ejecuta la celda.

#### Ejercicio 09. ¿Son los precios promedios de "Valdemorillo" y "Galapagar" los mismos? (★★☆)

Imprime ambos promedios y escribe una conclusión sobre ellos.

In [10]:
# TODO

#### Ejercicio 10. ¿Son los promedios de precio por metro cuadrado (precio/m2) de "Valdemorillo" y "Galapagar" los mismos? (★★☆)

Imprime ambos promedios de precio por metro cuadrado y escribe una conclusión sobre ellos.

Pista: Crea una nueva columna llamada `pps` (*price per square* o precio por metro cuadrado) y luego analiza los valores.

In [11]:
# TODO

#### Ejercicio 11. Analiza la relación entre la superficie y el precio de las casas. (★★☆)

Pista: Puedes hacer un `scatter plot` y luego escribir una conclusión al respecto.

In [12]:
# TODO: Código

**TODO: Markdown**. Para escribir aquí, haz doble clic en esta celda, elimina este contenido y coloca lo que quieras escribir. Luego ejecuta la celda.

#### Ejercicio 12. ¿Cuántas agencia de bienes raíces contiene el dataset? (★★☆)

Imprime el valor obtenido.

In [36]:
ds.groupby(ds.id_realEstates.count,axis=0)

/tmp/ipykernel_960/1213961018.py:1: FutureWarning: The 'axis' keyword in DataFrame.groupby is deprecated and will be removed in a future version.
  ds.groupby(ds.id_realEstates.count,axis=0)

TypeError: Series.count() takes 1 positional argument but 2 were given

#### Ejercicio 13. ¿Cuál es la población (columna level5) que contiene la mayor cantidad de casas?(★★☆)

Imprima la población y el número de casas.

In [14]:
# TODO

#### Ejercicio 14. Ahora vamos a trabajar con el "cinturón sur" de Madrid. Haz un subconjunto del DataFrame original que contenga las siguientes poblaciones (columna level5): "Fuenlabrada", "Leganés", "Getafe", "Alcorcón" (★★☆)

Pista: Filtra el DataFrame original usando la columna `level5` y la función `isin`.

In [15]:
# TODO

#### Ejercicio 15. Traza un gráfico de barras de la mediana de los precios y explica lo que observas (debes usar el subconjunto obtenido del Ejercicio 14) (★★★)

Imprima un gráfico de barras de la mediana de precios y escriba en la celda Markdown un breve análisis sobre el gráfico.

In [16]:
# TODO: Code

**TODO: Markdown**. Para escribir aquí, haz doble clic en esta celda, elimina este contenido y coloca lo que quieras escribir. Luego ejecuta la celda.

#### Ejercicio 16. Calcula la media y la varianza de muestra para las siguientes variables: precio, habitaciones, superficie y baños (debes usar el subconjunto obtenido del Ejercicio 14) (★★★)

Imprime ambos valores por cada variable.

In [17]:
# TODO

#### Ejercicio 17. ¿Cuál es la casa más cara de cada población? Debes usar el subset obtenido en la pregunta 14 (★★☆)

Imprime tanto la dirección como el precio de la casa seleccionada de cada población. Puedes imprimir un DataFrame o una sola línea para cada población.

In [18]:
# TODO

#### Ejercicio 18. Normaliza la variable de precios para cada población y traza los 4 histogramas en el mismo gráfico (debes usar el subconjunto obtenido en la pregunta 14) (★★★)

Para el método de normalización, puedes usar el que consideres adecuado, no hay una única respuesta correcta para esta pregunta. Imprime el gráfico y escribe en la celda de Markdown un breve análisis sobre el gráfico.

Pista: Puedes ayudarte revisando la demostración multihist de Matplotlib.

In [19]:
# TODO

**TODO: Markdown**. Para escribir aquí, haz doble clic en esta celda, elimina este contenido y coloca lo que quieras escribir. Luego ejecuta la celda.

#### Ejercicio 19. ¿Qué puedes decir sobre el precio por metro cuadrado (precio/m2) entre los municipios de 'Getafe' y 'Alcorcón'? Debes usar el subconjunto obtenido en la pregunta 14 (★★☆)

Pista: Crea una nueva columna llamada `pps` (price per square en inglés) y luego analiza los valores

In [20]:
# TODO

#### Ejercicio 20. Realiza el mismo gráfico para 4 poblaciones diferentes (columna level5) y colócalos en el mismo gráfico. Debes usar el subconjunto obtenido en la pregunta 14 (★★☆) 
Pista: Haz un diagrama de dispersión de cada población usando subgráficos (subplots).

In [21]:
# TODO

#### Ejercicio 21. Realiza un trazado de las coordenadas (columnas latitud y longitud) del cinturón sur de Madrid por color de cada población (debes usar el subconjunto obtenido del Ejercicio 14) (★★★★)

Ejecuta la siguiente celda y luego comienza a codear en la siguiente. Debes implementar un código simple que transforme las columnas de coordenadas en un diccionario de Python (agrega más información si es necesario) y agrégala al mapa.

In [32]:
from ipyleaflet import Map, basemaps

# Mapa centrado en Madrid
map = Map(center = (40.35, -3.8), zoom = 11.5, min_zoom = 1, max_zoom = 20, 
    basemap=basemaps.OpenStreetMap.Mapnik)
map

Map(center=[40.35, -3.8], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_ou…

In [ ]:
## Aquí: traza la coordenadas de los estados
coord={"a":2.5,
       "b":3,
        "c":4,
        "d":3.5}
## PON TU CÓDIGO AQUÍ: